@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* max-width: 1920px; */
  /* rem vw/vh */
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover{
  cursor:pointer ;
  color: #333;
}
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.fn36{
  font-size: 36px;
}
.fn30{
  font-size: 30px;
}
.fn24{
  font-size: 24px;
}

.fn20{
  font-size: 20px;
}

.fn18{
  font-size: 18px;
}

.fn16{
  font-size: 16px;
}

.fn15{
  font-size: 15px;
}
.fn14{
  font-size: 14px;
}
.fn12{
  font-size: 12px;
}
img{
  vertical-align: middle;
}
.content-center{
  width: 70%;
  margin:0px auto;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.hot{
  color:#FF0000
}
.fw{
  font-weight: 700;
}
.hidden-line{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}